{
    "openapi": "3.0.0",
    "info": {
        "title": "Car Maintenance API",
        "version": "1.0.0",
        "description": "API documentation for Car Maintenance System",
        "contact": {
            "name": "API Support",
            "email": "support@carmaintenance.com"
        }
    },
    "servers": [
        {
            "url": "https://srv830738.hstgr.cloud/api",
            "description": "Production Server"
        },
        {
            "url": "http://localhost:3000/api",
            "description": "Development Server"
        }
    ],
    "tags": [
        {
            "name": "Cars",
            "description": "Car management endpoints"
        },
        {
            "name": "Drivers",
            "description": "Driver management endpoints"
        },
        {
            "name": "Maintenance",
            "description": "Maintenance record endpoints"
        },
        {
            "name": "Maintenance Requests",
            "description": "Maintenance request endpoints"
        },
        {
            "name": "Categories",
            "description": "Maintenance category endpoints"
        },
        {
            "name": "SubCategories",
            "description": "Maintenance subcategory endpoints"
        },
        {
            "name": "Car Meter",
            "description": "Car meter reading image analysis endpoints"
        },
        {
            "name": "Authentication",
            "description": "Driver authentication endpoints"
        },
        {
            "name": "Admin",
            "description": "Admin authentication and management endpoints"
        },
        {
            "name": "Receivers",
            "description": "Receiver management and maintenance request handling endpoints"
        },
        {
            "name": "Notifications",
            "description": "User notification management endpoints"
        }
    ],
    "paths": {
        "/cars": {
            "get": {
                "summary": "Get all cars",
                "tags": [ "Cars" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    } ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "search",
                        "schema": { "type": "string" },
                        "description": "Search across plate number, brand, and model fields"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of cars",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "results": {
                                            "type": "number",
                                            "example": 4
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Car"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new car",
                "tags": [ "Cars" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CarInput"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Car created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Car created successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Car"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cars/{id}": {
            "get": {
                "summary": "Get a car by ID",
                "tags": [ "Cars" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The car ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Car details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/CarDetailed"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Car not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a car",
                "tags": [ "Cars" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The car ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CarInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Car updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Car updated successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Car"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Car not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a car",
                "tags": [ "Cars" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The car ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Car deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Car deleted successfully"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Car not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            } },
        "/cars/total": {
            "get": {
                "summary": "Get total number of cars",
                "tags": [ "Cars" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "description": "Returns the total count of cars in the system.",
                "responses": {
                    "200": {
                        "description": "Total number of cars retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "totalCars": {
                                            "type": "number",
                                            "example": 25
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Not logged in or invalid token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Insufficient permissions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/drivers": {
            "get": {
                "summary": "Get all drivers",
                "tags": [ "Drivers" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ], "parameters": [
                    {
                        "in": "query",
                        "name": "search",
                        "schema": { "type": "string" },
                        "description": "Search across name, phone number, license number, and national ID fields"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of drivers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "results": {
                                            "type": "number",
                                            "example": 4
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Driver"
                                            }
                                        }
                                    }
                                } } }
                    }
                }
            }
        },
        "/drivers/create-driver": {
            "post": {
                "summary": "Create a new driver",
                "tags": [ "Drivers" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "description": "Creates a new driver. Requires admin authentication. All driver fields must be unique (phone number, national ID, license number).",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DriverInput"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Driver created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Driver created successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Driver"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Validation error or duplicate fields",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Not logged in or invalid token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Admin access required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/drivers/me": {
            "get": {
                "summary": "Get current driver's profile and maintenance history",
                "tags": [ "Drivers" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "description": "Requires authentication as driver only. Returns the profile of the currently authenticated driver with their maintenance history.",
                "responses": {
                    "200": {
                        "description": "Driver profile retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "driver": {
                                                    "$ref": "#/components/schemas/Driver"
                                                },
                                                "maintenanceHistory": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Maintenance"
                                                    },
                                                    "description": "Maintenance history for the driver"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Not logged in or invalid token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Driver access required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Driver not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/drivers/{id}": {
            "get": {
                "summary": "Get a driver by ID",
                "tags": [ "Drivers" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The driver ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Driver details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Driver"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Driver not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a driver",
                "tags": [ "Drivers" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The driver ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DriverInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Driver updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Driver updated successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Driver"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Driver not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a driver",
                "tags": [ "Drivers" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The driver ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Driver deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Driver deleted successfully"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Driver not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/drivers/phone/{phoneNumber}": {
            "get": {
                "summary": "Get a driver by phone number",
                "tags": [ "Drivers" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "phoneNumber",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The driver's phone number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Driver details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Driver"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Driver not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/drivers/{id}/maintenance": {
            "get": {
                "summary": "Get maintenance records for a driver",
                "tags": [ "Drivers", "Maintenance" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The driver ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of maintenance records for the driver",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "results": {
                                            "type": "number",
                                            "example": 3
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Maintenance"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Driver not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            } },
        "/drivers/total": {
            "get": {
                "summary": "Get total number of drivers",
                "tags": [ "Drivers" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "description": "Returns the total count of drivers in the system.",
                "responses": {
                    "200": {
                        "description": "Total number of drivers retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "totalDrivers": {
                                            "type": "number",
                                            "example": 42
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Not logged in or invalid token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Insufficient permissions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            } },
        "/maintenance": {
            "get": {
                "summary": "Get all maintenance records",
                "tags": [ "Maintenance" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "description": "Requires authentication as admin or driver.",
                "responses": {
                    "200": {
                        "description": "A list of maintenance records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "results": {
                                            "type": "number",
                                            "example": 23
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Maintenance"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }, "post": {
                "summary": "Create a new maintenance record",
                "tags": [ "Maintenance" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "description": "Creates a new maintenance record. Drivers should:\n\n1. **Get available subcategories**: Use `GET /subcategories/category/{categoryId}` to see maintenance types\n2. **Check custom fields**: Use `GET /subcategories/{id}/fields` for each selected subcategory to get required custom fields\n3. **Submit maintenance record**: Include responses to all required custom fields in `customFieldData` array\n\n**Custom Field Workflow:**\n- Each subcategory may have admin-defined custom fields (e.g., current mileage, tire condition)\n- Required fields must be provided or the request will fail\n- All field values are submitted as strings for flexibility\n- Field responses are linked to specific subcategories via `subcategoryId`",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MaintenanceInput"
                            },
                            "examples": {
                                "basicMaintenance": {
                                    "summary": "Basic maintenance without custom fields",
                                    "description": "Simple maintenance record for subcategories with no custom fields",
                                    "value": {
                                        "car": "60d21b4667d0d8992e610c85",
                                        "driver": "60d21b4667d0d8992e610c86",
                                        "subCategories": [ "60d21b4667d0d8992e610c88" ],
                                        "description": "Basic oil change service",
                                        "cost": 50,
                                        "mechanicCost": 30
                                    }
                                },
                                "maintenanceWithCustomFields": {
                                    "summary": "Maintenance with required custom fields",
                                    "description": "Comprehensive maintenance record including driver responses to admin-defined custom fields",
                                    "value": {
                                        "car": "60d21b4667d0d8992e610c85",
                                        "driver": "60d21b4667d0d8992e610c86",
                                        "subCategories": [ "60d21b4667d0d8992e610c88", "60d21b4667d0d8992e610c89" ],
                                        "description": "Full service - oil change, tire rotation, and brake inspection",
                                        "cost": 180,
                                        "mechanicCost": 120,
                                        "customFieldData": [
                                            {
                                                "fieldName": "currentMileage",
                                                "fieldValue": "85000",
                                                "subcategoryId": "60d21b4667d0d8992e610c88"
                                            },
                                            {
                                                "fieldName": "tireCondition",
                                                "fieldValue": "Good - minimal wear",
                                                "subcategoryId": "60d21b4667d0d8992e610c89"
                                            },
                                            {
                                                "fieldName": "brakePadThickness",
                                                "fieldValue": "8mm",
                                                "subcategoryId": "60d21b4667d0d8992e610c89"
                                            }
                                        ]
                                    }
                                },
                                "multipleSubcategories": {
                                    "summary": "Multiple subcategories with mixed field requirements",
                                    "description": "Shows how to handle different subcategories where some have required fields and others don't",
                                    "value": {
                                        "car": "60d21b4667d0d8992e610c85",
                                        "driver": "60d21b4667d0d8992e610c86",
                                        "subCategories": [ "60d21b4667d0d8992e610c88", "60d21b4667d0d8992e610c90", "60d21b4667d0d8992e610c91" ],
                                        "description": "Comprehensive service including engine, transmission, and AC maintenance",
                                        "cost": 350,
                                        "mechanicCost": 250,
                                        "customFieldData": [
                                            {
                                                "fieldName": "engineMileage",
                                                "fieldValue": "87500",
                                                "subcategoryId": "60d21b4667d0d8992e610c88"
                                            },
                                            {
                                                "fieldName": "lastServiceDate",
                                                "fieldValue": "2024-12-15",
                                                "subcategoryId": "60d21b4667d0d8992e610c88"
                                            },
                                            {
                                                "fieldName": "transmissionFluidColor",
                                                "fieldValue": "Dark red, needs replacement",
                                                "subcategoryId": "60d21b4667d0d8992e610c90"
                                            },
                                            {
                                                "fieldName": "acRefrigerantLevel",
                                                "fieldValue": "Low",
                                                "subcategoryId": "60d21b4667d0d8992e610c91"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }, "responses": {
                    "201": {
                        "description": "Maintenance record created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance record created successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Maintenance"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - validation errors for custom fields",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "missingRequiredField": {
                                        "summary": "Missing required custom field",
                                        "value": {
                                            "status": "error",
                                            "message": "Required custom field 'currentMileage' is missing for subcategory 'Engine Maintenance'"
                                        }
                                    },
                                    "invalidFieldName": {
                                        "summary": "Invalid field name provided",
                                        "value": {
                                            "status": "error",
                                            "message": "Custom field 'invalidField' does not exist for subcategory 'Engine Maintenance'"
                                        }
                                    },
                                    "missingSubcategoryId": {
                                        "summary": "Missing subcategory ID in custom field data",
                                        "value": {
                                            "status": "error",
                                            "message": "subcategoryId is required for custom field data"
                                        }
                                    },
                                    "subcategoryNotSelected": {
                                        "summary": "Custom field for unselected subcategory",
                                        "value": {
                                            "status": "error",
                                            "message": "Cannot provide custom field data for subcategory '60d21b4667d0d8992e610c99' that is not selected in subCategories array"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - missing or invalid token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - insufficient permissions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "carNotFound": {
                                        "summary": "Car not found",
                                        "value": {
                                            "status": "error",
                                            "message": "No car found with id: 60d21b4667d0d8992e610c85"
                                        }
                                    },
                                    "subcategoryNotFound": {
                                        "summary": "Subcategory not found",
                                        "value": {
                                            "status": "error",
                                            "message": "No subcategory found with id: 60d21b4667d0d8992e610c88"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/maintenance/{id}": {
            "get": {
                "summary": "Get a maintenance record by ID",
                "tags": [ "Maintenance" ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The maintenance record ID"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "description": "Requires authentication as admin or driver.",
                "responses": {
                    "200": {
                        "description": "Maintenance record details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Maintenance"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Maintenance record not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a maintenance record",
                "tags": [ "Maintenance" ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The maintenance record ID"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "description": "Requires authentication as admin or driver.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MaintenanceInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Maintenance record updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance record updated successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Maintenance"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Maintenance record not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a maintenance record",
                "tags": [ "Maintenance" ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The maintenance record ID"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "description": "Requires authentication as admin or driver.",
                "responses": {
                    "200": {
                        "description": "Maintenance record deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Maintenance record deleted successfully"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Maintenance record not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/maintenance/car/{carId}": {
            "get": {
                "summary": "Get maintenance records for a specific car",
                "tags": [ "Maintenance" ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "carId",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The car ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of maintenance records for the car",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "results": {
                                            "type": "number",
                                            "example": 5
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Maintenance"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Car not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            } },
        "/maintenance/cost": {
            "get": {
                "summary": "Get total maintenance costs",
                "tags": [ "Maintenance" ],
                "security": [
                    {
                        "bearerAuth": [ ]
                    }
                ],
                "description": "Returns the total maintenance cost and mechanic cost across all records.",
                "responses": {
                    "200": {
                        "description": "Total maintenance costs retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "totalCost": {
                                                    "type": "number",
                                                    "example": 15000
                                                },
                                                "totalMechanicCost": {
                                                    "type": "number",
                                                    "example": 8500
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Not logged in or invalid token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categories": {
            "get": {
                "summary": "Get all maintenance categories",
                "tags": [ "Categories" ],
                "security": [ { "bearerAuth": [ ] } ],
                "description": "Requires authentication as admin or driver.", "parameters": [
                    {
                        "in": "query",
                        "name": "search",
                        "schema": { "type": "string" },
                        "description": "Search by category name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of maintenance categories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "results": {
                                            "type": "number",
                                            "example": 10
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Category"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new maintenance category",
                "tags": [ "Categories" ],
                "security": [ { "bearerAuth": [ ] } ],
                "description": "Requires authentication as admin.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoryInput"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Category created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Category created successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Category"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categories/{id}": {
            "get": {
                "summary": "Get a category by ID",
                "tags": [ "Categories" ],
                "security": [ { "bearerAuth": [ ] } ],
                "description": "Requires authentication as admin or driver.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The category ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/CategoryDetailed"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Category not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a category",
                "tags": [ "Categories" ],
                "security": [ { "bearerAuth": [ ] } ],
                "description": "Requires authentication as admin.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The category ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoryInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Category updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Category updated successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Category"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Category not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a category",
                "tags": [ "Categories" ],
                "security": [ { "bearerAuth": [ ] } ],
                "description": "Requires authentication as admin.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The category ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Category deleted successfully"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Category not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subcategories": {
            "get": {
                "summary": "Get all subcategories",
                "tags": [ "SubCategories" ],
                "security": [ { "bearerAuth": [ ] } ],
                "description": "Requires authentication as admin or driver.",
                "responses": {
                    "200": {
                        "description": "A list of subcategories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "results": {
                                            "type": "number",
                                            "example": 41
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SubCategory"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new subcategory",
                "tags": [ "SubCategories" ],
                "security": [ { "bearerAuth": [ ] } ],
                "description": "Requires authentication as admin.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubCategoryInput"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Subcategory created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Subcategory created successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/SubCategory"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subcategories/{id}": {
            "get": {
                "summary": "Get a subcategory by ID",
                "tags": [ "SubCategories" ],
                "security": [ { "bearerAuth": [ ] } ],
                "description": "Requires authentication as admin or driver.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The subcategory ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subcategory details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/SubCategory"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subcategory not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a subcategory",
                "tags": [ "SubCategories" ],
                "security": [ { "bearerAuth": [ ] } ],
                "description": "Requires authentication as admin.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The subcategory ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubCategoryInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Subcategory updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Subcategory updated successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/SubCategory"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subcategory not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a subcategory",
                "tags": [ "SubCategories" ],
                "security": [ { "bearerAuth": [ ] } ],
                "description": "Requires authentication as admin.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The subcategory ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subcategory deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Subcategory deleted successfully"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subcategory not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            } },
        "/subcategories/category/{categoryId}": {
            "get": {
                "summary": "Get all subcategories for a specific category",
                "tags": [ "SubCategories" ],
                "security": [ { "bearerAuth": [ ] } ],
                "description": "Requires authentication as admin or driver.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "categoryId",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The category ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of subcategories for the category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "results": {
                                            "type": "number",
                                            "example": 4
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SubCategory"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Category not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subcategories/{id}/fields": { "get": {
                "summary": "Get custom fields for a subcategory",
                "tags": [ "SubCategories" ],
                "security": [ { "bearerAuth": [ ] } ],
                "description": "**Driver Workflow Step 2**: After selecting subcategories, drivers use this endpoint to discover what custom fields need to be filled out.\n\n**Usage for Drivers:**\n1. Call this endpoint for each selected subcategory\n2. Check which fields have `isRequired: true` - these MUST be included in maintenance request\n3. Optional fields (`isRequired: false`) can be included if relevant\n4. Use the `fieldName` and `subcategoryId` when submitting custom field data\n\n**Field Types:** All responses are submitted as strings, but fields may represent:\n- Numbers (mileage, measurements): `\"85000\"`\n- Dates: `\"2024-12-15\"` or `\"December 15, 2024\"`\n- Text descriptions: `\"Good condition, minimal wear\"`\n- Yes/No answers: `\"Yes\"` or `\"No\"`",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The subcategory ID"
                    }
                ], "responses": {
                    "200": {
                        "description": "Custom fields retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Custom fields retrieved successfully"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "subcategoryName": {
                                                    "type": "string",
                                                    "example": "Engine Maintenance"
                                                },
                                                "customFields": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CustomField"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "engineMaintenance": {
                                        "summary": "Engine maintenance with mileage and condition check",
                                        "description": "Example response for engine maintenance subcategory with required mileage field and optional condition assessment",
                                        "value": {
                                            "status": "success",
                                            "message": "Custom fields retrieved successfully",
                                            "data": {
                                                "subcategoryName": "Engine Maintenance",
                                                "customFields": [
                                                    {
                                                        "_id": "60d21b4667d0d8992e610c90",
                                                        "fieldName": "current_mileage",
                                                        "description": "Current vehicle mileage for maintenance tracking",
                                                        "isRequired": true
                                                    },
                                                    {
                                                        "_id": "60d21b4667d0d8992e610c91",
                                                        "fieldName": "engine_condition",
                                                        "description": "General assessment of engine condition (e.g., Good, Fair, Poor)",
                                                        "isRequired": false
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "tireReplacement": {
                                        "summary": "Tire replacement with multiple required fields",
                                        "description": "Example showing tire replacement subcategory with multiple required custom fields",
                                        "value": {
                                            "status": "success",
                                            "message": "Custom fields retrieved successfully",
                                            "data": {
                                                "subcategoryName": "Tire Replacement",
                                                "customFields": [
                                                    {
                                                        "_id": "60d21b4667d0d8992e610c92",
                                                        "fieldName": "tire_position",
                                                        "description": "Which tire was replaced (Front Left, Front Right, Rear Left, Rear Right, All)",
                                                        "isRequired": true
                                                    },
                                                    {
                                                        "_id": "60d21b4667d0d8992e610c93",
                                                        "fieldName": "tire_brand",
                                                        "description": "Brand and model of the new tire",
                                                        "isRequired": true
                                                    },
                                                    {
                                                        "_id": "60d21b4667d0d8992e610c94",
                                                        "fieldName": "old_tire_condition",
                                                        "description": "Condition of the replaced tire",
                                                        "isRequired": false
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "noCustomFields": {
                                        "summary": "Subcategory with no custom fields",
                                        "description": "Example response when a subcategory has no custom fields defined",
                                        "value": {
                                            "status": "success",
                                            "message": "Custom fields retrieved successfully",
                                            "data": {
                                                "subcategoryName": "Basic Inspection",
                                                "customFields": [ ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subcategory not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "SubCategory not found"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add custom field to subcategory",
                "tags": [ "SubCategories" ],
                "security": [ { "bearerAuth": [ ] } ],
                "description": "Add a new custom field to collect specific information from drivers",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The subcategory ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomFieldInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Custom field added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Custom field added successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/SubCategory"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subcategories/{id}/fields/{fieldId}": {
            "put": {
                "summary": "Update custom field",
                "tags": [ "SubCategories" ],
                "security": [ { "bearerAuth": [ ] } ],
                "description": "Update an existing custom field in a subcategory",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The subcategory ID"
                    },
                    {
                        "in": "path",
                        "name": "fieldId",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The custom field ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomFieldUpdateInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Custom field updated successfully"
                    }
                }
            },
            "delete": {
                "summary": "Remove custom field",
                "tags": [ "SubCategories" ],
[...]
